{% extends 'base.html' %}
{% load static %}

{% block dept_active %}
active
{% endblock %}

{% block content %}

<div class="container main-container headerOffset globalPaddingBottom">
    <div class="row featuredPostContainer ">
        <div class="featuredImageLook3">
            {% for c in categories %}
            {% include 'category_item.html' %}
            {% endfor %}
        </div>
        <!--/.featuredImageLook3-->
    </div>
    <!--/.featuredPostContainer-->
</div>
<!-- /main container -->

<div class="w100 sectionCategory">
    <div class="container">
        <div class="sectionCategoryIntro text-center">
            <h1>Featured Categories</h1>

            <p> litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc
                nobis videntur parum clari, fiant sollemnes in futurum.</p>
        </div>
        <div class="row subCategoryList clearfix">
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail equalheight"><a class="subCategoryThumb" href="sub-category.html"><img
                        src="images/product/3.jpg" class="img-rounded " alt="img"> </a> <a
                        class="subCategoryTitle"><span> T shirt </span></a></div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight"><a class="subCategoryThumb" href="sub-category.html"><img
                        src="images/site/casual.jpg" class="img-rounded " alt="img"> </a> <a
                        class="subCategoryTitle"><span> Shirt </span></a></div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight"><a class="subCategoryThumb" href="sub-category.html"><img
                        src="images/site/shoe.jpg" class="img-rounded " alt="img"> </a> <a
                        class="subCategoryTitle"><span> shoes </span></a></div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight"><a class="subCategoryThumb" href="sub-category.html"><img
                        src="images/site/jewelry.jpg" class="img-rounded " alt="img"> </a> <a
                        class="subCategoryTitle"><span> Accessories </span></a></div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight"><a class="subCategoryThumb" href="sub-category.html"><img
                        src="images/site/winter.jpg" class="img-rounded  " alt="img"> </a> <a
                        class="subCategoryTitle"><span> Winter Collection </span></a></div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight"><a class="subCategoryThumb" href="sub-category.html"><img
                        src="images/site/Male-Fragrances.jpg" class="img-rounded " alt="img"> </a> <a
                        class="subCategoryTitle"><span> Fragrances </span></a></div>
            </div>
        </div>
        <!--/.row-->

    </div>
    <!--/.container-->
</div>
<!--/.sectionCategory-->


<div class="parallax-section parallax-image-1">
    <div class="w100 parallax-section-overley">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix">
                        <h1 class="xlarge"> MADE IN AMERICA </h1>
                        <h5 class="parallaxSubtitle"> FORGED BY US </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.parallax-section-->

{% endblock %}
