{% extends 'base.html' %}
{% load static %}

{% block dept_active %}
active
{% endblock %}

{% block content %}

<div class="container main-container headerOffset globalPaddingBottom">
    <div class="row featuredPostContainer ">
        <div class="featuredImageLook3">
            {% for c in categories %}
            {% include 'category_item.html' %}
            {% endfor %}
        </div>
        <!--/.featuredImageLook3-->
    </div>
    <!--/.featuredPostContainer-->
</div>
<!-- /main container -->


<div class="parallax-section parallax-image-1">
    <div class="w100 parallax-section-overley">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix">
                        <h1 class="xlarge"> MADE IN AMERICA </h1>
                        <h5 class="parallaxSubtitle"> FORGED BY US </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.parallax-section-->

{% endblock %}
