<div class="item">
    <div class="product">
        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
           data-placement="left">
            <i class="glyphicon glyphicon-heart"></i>
        </a>

        <div class="image">
            <div class="quickview">
                <a href="{{ product.get_absolute_url }}" class="btn-quickview">
                    <strong>{{ product.title }}</strong> <br />by {{ product.brand }}
                </a>
            </div>
            <div class="promotion">
                <span class="new-product">MADE IN</span>
                <span class="discount"> {{ product.get_full_state|default:"USA"}}</span>
            </div>
            {% with product.images.all|first as image %}
            <a href="{{ product.get_absolute_url }}">
                <img src="{{ image.image.url }}" alt="img" class="img-responsive">
            </a>
            {% endwith %}
        </div>
        <br />

        <div class="action-control">
            <a href="{{ product.get_amazon_url }}" class="btn btn-primary">
                <span class="add2cart">
                    ${{ product.current_price}} at {{ product.affiliate.name }}
                </span>
            </a>
        </div>
    </div>
</div>
