<div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
    <div class="product">
        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
           data-placement="left">
            <i class="glyphicon glyphicon-heart"></i>
        </a>

        <div class="image">
            <div class="quickview">
                <a href="{{ product.get_absolute_url }}" class="btn-quickview">
                    <strong>{{ product.title }}</strong> <br />by {{ product.brand }}
                </a>
            </div>
            <div class="promotion">
                <span class="new-product">MADE IN</span>
                <span class="discount"> {{ product.get_full_state|default:"USA"}}</span>
            </div>
            <a href="{{ product.get_absolute_url }}">
                {% if product.thumb %}
                <img src="{{ product.thumb.url }}" alt="img" class="img-product">
                {% endif %}
            </a>
        </div>
        <br />

        <div class="action-control">
            <a target="_blank" href="{{ product.get_amazon_url }}" class="btn btn-primary btn-sharp" data-togle="tooltip" title="price as of {{ product.price_updated }}">
                <span class="add2cart" tooltip="test">
                    ${{ product.current_price}} at {{ product.affiliate.name }}
                </span>
            </a>
        </div>
    </div>
</div>
