{% extends 'base.html' %}

{% block content %}
<div class="container main-container headerOffset globalPaddingBottom">
    {% if query %}
        <h3 class="section-title style2 text-center"><span>Products matching "<em>{{ query }}</em>"</span></h3>

        <div class="container">
            <div class="row xsResponse">
                {% for result in page.object_list %}
                {% with result.object as product %}
                {% include 'product_item.html' %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
        <!--/.featuredPostContainer-->
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
</div>
{% endblock %}
