{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container main-container headerOffset">

    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class="title-big text-center section-title-style2">
            <span>
              America, curated.
            </span>
                    </h1>

                    <p class="lead text-center">
                        We are <strong>Forged By Us</strong> and we are America. We hand pick some of
                        the best products still made in the USA, and share them with you. We do our
                        best to research each and every product to verify that it is indeed made in
                        America.
                    </p>


                    <hr class="hr hr30">
                    <div class="row animated">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <!--<img class="img-responsive" src="images/site/girl1.jpg" alt="img">-->

                            <h3 class="block-title-3">
                                America, curated.
                            </h3>

                            <p>
                                The majority of products on this site are found on Amazon. Amazon has
                                a superior system in place for processing and shipping goods, so rather
                                than sell and ship the products ourselves, we leverage Amazon's extensive
                                knowledge in order processing. We never see your credit card or personal
                                information.
                            </p>


                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <!--<img class="img-responsive" src="images/site/girl2.jpg" alt="img">-->

                            <h3 class="block-title-3">
                                Picked by You
                            </h3>

                            <p>
                                Our products are found by you. You can suggest a product, and after we
                                verify the details, we publish it to the world (and let everyone know you found it).
                            </p>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <!--<img class="img-responsive" src="images/site/girl3.jpg" alt="img">-->

                            <h3 class="block-title-3">

                            </h3>

                            <p>

                            </p>

                        </div>


                    </div>
                    <!--/.row-->

                    <hr>
                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>
<!-- /.main-container -->


<div class="gap"></div>
{% endblock %}
