{% extends 'base.html' %}

{% block dept_active %}
active
{% endblock %}

{% block content %}
<div class="container main-container headerOffset globalPaddingBottom">
    <h3 class="section-title style2 text-center"><span>DISCLAIMER</span></h3>
    <div class="container">
        <div class="row xsResponse">
            <p>FORGED BY US is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.</p>
        </div>
    </div>
</div>
{% endblock %}
