{% extends 'base.html' %}
{% load static %}

{% block home_active %}
active
{% endblock %}

{% block js %}
<script src="{% static 'endless_pagination/js/endless-pagination.js' %}"></script>
<script>$.endlessPaginate();</script>
{% endblock %}

{% block content %}
<div class="banner">
    <div class="full-container">
        <div class="slider-content">
            <ul id="pager" class="container">
            </ul>
            <span class="prevControl sliderControl"> <i class="fa fa-angle-left fa-3x "></i></span> <span class="nextControl sliderControl"> <i class="fa fa-angle-right fa-3x "></i></span>
            <div class="slider slider-v1" data-cycle-swipe=true data-cycle-prev=".prevControl" data-cycle-next=".nextControl" data-cycle-loader="wait">
                <div class="slider-item slider-item-img1 "
                     data-cycle-pager-template="">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-5 col-md-5 col-sm-5 pull-left sliderText dark alpha80">
                                <div class="inner">
                                    <h1>MADE IN AMERICA.</h1>

                                    <p>
                                        Every single product we feature was built in America by your friends
                                        neighbors, family, people in your community, and <strong>you</strong>.
                                    </p>
                                    <h1 class="pull-right">FORGED BY US.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img alt="img" src="{% static 'images/parallax/parallax.jpg' %}" class="img-responsive parallaximg sliderImg">
                </div>

                <!-- Collection slider items -->
                {% for c in collections %}
                <div class="slider-item slider-item-img1 "
                     data-cycle-pager-template="">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-5 col-md-5 col-sm-5 pull-left sliderText dark alpha80">
                                <div class="inner">
                                    <h1>{{ c.name }}</h1>

                                    <p>
                                        {{ c.parallax_blurb }}
                                    </p>
                                    <a href="{{ c.get_absolute_url }}" class="btn btn-success">SHOP NOW <span class="arrowUnicode">►</span></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <img alt="img" src="{{ c.parallax.url }}" class="img-responsive parallaximg sliderImg">
                </div>
                {% endfor %}
                <!--/.slider-item-->
            </div>
            <!--/.slider-v2-->
        </div>
        <!--/.slider-content-->
    </div>
    <!--/.full-container-->
</div>
<!--/.banner style2-->

<div class="container main-container">
    <!-- Main component call to action -->
    <div class="morePost row featuredPostContainer style2 globalPaddingTop ">
        <h3 class="section-title style2 text-center"><span>Recent Finds</span></h3>
        {% include 'item_page.html' %}

    </div>
    <!--/.featuredPostContainer-->
</div>
<!-- /main container -->
{% endblock %}
